@font-face { 
	font-family: 'MyFont';
	src: url(./Hannari.otf);
}
@font-face { 
	font-family: 'eMyFont';
	src: url(./OpenBaskerville-0.0.75.ttf);
}

body{
	color: #808080;
	font-family: eMyFont, MyFont;
	overflow-x: hidden;
}

div{
	display: inline-block;
}

p{
	margin-bottom: 0;
}

a{
	text-decoration: none;
	color: #808080;
}

/***********************************/
/*canvas*/
/***********************************/

#canvas{
	position: fixed;
	top: 0;
	left: 0;
	/*background-color: pink;*/
	z-index: -1;
}

/***********************************/
/*header*/
/***********************************/
header img{
	/*width: 100%;*/
	height: 100px;
	position: fixed;
	top: 0;
	left: -200px;
	opacity: .75;
	/*border-bottom: solid 2px #fff;*/
}

header h1{
	position: fixed;
	font-size: 60px;
	top: 12px;
	left: 30px;
	margin: 0;
	font-weight: bold;
}

.circleMenu{
	background-color: #808080;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 25px;
	border-radius: 50px;
	text-align: center;
	border: solid 2px rgba(0,0,0,0);
}
.circleMenu:hover{
	border: solid 2px rgba(253, 247, 213, .75);
}
.circleFont{
	color: rgb(253, 247, 213);
	position: relative;
	top: 13px;
}

/***********************************/
/*body*/
/***********************************/
#main{
	display: block;
	padding: 40px;
	border: 1px solid #a9a9a9;
	background-color: rgba(255, 255, 255, .6);
	font-size: 20px;
}
.index{
	width: 530px;
	margin: 200px auto 0 auto;
}

.play{
	width: 800px;
	margin: 65px auto 0 auto;
}
.rank{
	width: 400px;
	margin: 200px auto 0 auto;	
}
.result{
	width: 400px;
	margin: 200px auto 0 auto;	

}
/***********************************/
/*index.html*/
/***********************************/
#gamestart{
	display: block;
	width: 140px;
	margin: 300px auto 0 auto;
	padding: 0px 20px 20px 25px;
	border: 1px solid #a9a9a9;
	border-radius: 5px;
	background-color: rgba(253, 247, 213, .75);
	font-size: 25px;
	text-align: center;
}
#gamestart:hover{
	border: 1px solid rgb(253, 144, 166);
}
/***********************************/
/*play.php*/
/***********************************/

#data{
	position: relative;
	display: block;
	font-size: 20px;
	top: 20px;
	margin: 0 auto;
	text-align: center;
	z-index: 1;
}

#whiteOut{
	background: white;
	display: block;
	width: 110%;
	height: 580px;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 75px;
	left: -10px;
	z-index: -10;
}

#score{
	/*background-color: red;*/
	/*display: block;*/
	/*z-index: 10;*/
}

/***********************************/
/*rank.php, result.php*/
/***********************************/
.rank, .result{
	text-align: center;
}
.seleciton{
	width: 180px;
	height: 50px;
	border-radius: 5px;
	background-color: rgba(253, 247, 213, .75);
	border: 1px solid #a9a9a9;
	text-align: center;
	margin: 0 5px;
	padding-top: 12px;
	padding-bottom: -3px;
}

.seleciton:hover{
	border: 1px solid rgb(253, 144, 166);
}









